@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@400;700;900&display=swap");

* {
  font-family: "Black Ops One", cursive;
}

.lato {
  font-family: "Lato", sans-serif;
}
